
<div class="panel panel-default">
  <div class="panel-heading"><h2>About Me...</h2></div>
  <div class="panel-body">
<p>My name Is Joey Beard (aka: "blackBeard"!) and I'm building a Pinterest clone!</p>

